$sj-ic-outline-font-family: "font-sj-icon-outline" !default;
$sj-ic-outline-font-path: "../fonts/outline" !default;

$sj-ic-outline-variables: (
  "sj-ic-empty-reward" unquote('"\\e900"'),
  "sj-ic-account-user" unquote('"\\e901"'),
  "sj-ic-calendar-1" unquote('"\\e902"'),
  "sj-ic-calendar-2" unquote('"\\e903"'),
  "sj-ic-check-circle" unquote('"\\e904"'),
  "sj-ic-check" unquote('"\\e905"'),
  "sj-ic-chevron-down" unquote('"\\e906"'),
  "sj-ic-chevron-left" unquote('"\\e907"'),
  "sj-ic-chevron-right" unquote('"\\e908"'),
  "sj-ic-chevron-up" unquote('"\\e909"'),
  "sj-ic-clock" unquote('"\\e90a"'),
  "sj-ic-coins" unquote('"\\e90b"'),
  "sj-ic-copy-right" unquote('"\\e90c"'),
  "sj-ic-discount-coupon" unquote('"\\e90d"'),
  "sj-ic-download" unquote('"\\e90e"'),
  "sj-ic-empty" unquote('"\\e90f"'),
  "sj-ic-face-id" unquote('"\\e910"'),
  "sj-ic-file-not-found" unquote('"\\e911"'),
  "sj-ic-file-text" unquote('"\\e912"'),
  "sj-ic-filter" unquote('"\\e913"'),
  "sj-ic-gift-star" unquote('"\\e914"'),
  "sj-ic-globe" unquote('"\\e915"'),
  "sj-ic-heart" unquote('"\\e916"'),
  "sj-ic-home" unquote('"\\e917"'),
  "sj-ic-hotel" unquote('"\\e918"'),
  "sj-ic-information-circle" unquote('"\\e919"'),
  "sj-ic-iphone" unquote('"\\e91a"'),
  "sj-ic-location" unquote('"\\e91b"'),
  "sj-ic-mail" unquote('"\\e91c"'),
  "sj-ic-mappin" unquote('"\\e91d"'),
  "sj-ic-pencil-underline" unquote('"\\e91e"'),
  "sj-ic-phone-call" unquote('"\\e91f"'),
  "sj-ic-phone" unquote('"\\e920"'),
  "sj-ic-plane-down" unquote('"\\e921"'),
  "sj-ic-plane-up" unquote('"\\e922"'),
  "sj-ic-receipt-lines" unquote('"\\e923"'),
  "sj-ic-search" unquote('"\\e924"'),
  "sj-ic-share" unquote('"\\e925"'),
  "sj-ic-sort-asc" unquote('"\\e926"'),
  "sj-ic-sort-desc" unquote('"\\e927"'),
  "sj-ic-ticket" unquote('"\\e928"'),
  "sj-ic-user" unquote('"\\e929"'),
  "sj-ic-view-file" unquote('"\\e92a"'),
);
