$sj-ic-font-family: "font-sj-icon" !default;
$sj-ic-font-path: "../fonts/solid" !default;

$sj-ic-solid-variables: (
  "sj-ic-close-round" unquote('"\\e900"'),
  "sj-ic-account-user" unquote('"\\e901"'),
  "sj-ic-adult" unquote('"\\e902"'),
  "sj-ic-arrow-outline-right" unquote('"\\e903"'),
  "sj-ic-arrow-right" unquote('"\\e904"'),
  "sj-ic-arrow-switch-horizontal" unquote('"\\e905"'),
  "sj-ic-booking-flight-guidance" unquote('"\\e906"'),
  "sj-ic-buffet" unquote('"\\e907"'),
  "sj-ic-bus" unquote('"\\e908"'),
  "sj-ic-calendar-from" unquote('"\\e909"'),
  "sj-ic-calendar-to" unquote('"\\e90a"'),
  "sj-ic-calendar" unquote('"\\e90b"'),
  "sj-ic-car" unquote('"\\e90c"'),
  "sj-ic-caret-double-up" unquote('"\\e90d"'),
  "sj-ic-caret-down" unquote('"\\e90e"'),
  "sj-ic-caret-left" unquote('"\\e90f"'),
  "sj-ic-caret-right" unquote('"\\e910"'),
  "sj-ic-caret-top" unquote('"\\e911"'),
  "sj-ic-check" unquote('"\\e912"'),
  "sj-ic-checked-round" unquote('"\\e913"'),
  "sj-ic-chevron-left" unquote('"\\e914"'),
  "sj-ic-chevron-right" unquote('"\\e915"'),
  "sj-ic-child" unquote('"\\e916"'),
  "sj-ic-class-business" unquote('"\\e917"'),
  "sj-ic-class-deluxe" unquote('"\\e918"'),
  "sj-ic-class-eco" unquote('"\\e919"'),
  "sj-ic-class-final-deal" unquote('"\\e91a"'),
  "sj-ic-class-fixed-point" unquote('"\\e91b"'),
  "sj-ic-class-skyboss" unquote('"\\e91c"'),
  "sj-ic-clock" unquote('"\\e91d"'),
  "sj-ic-close" unquote('"\\e91e"'),
  "sj-ic-copy" unquote('"\\e91f"'),
  "sj-ic-crib" unquote('"\\e920"'),
  "sj-ic-cuisine" unquote('"\\e921"'),
  "sj-ic-discount-coupon" unquote('"\\e922"'),
  "sj-ic-door" unquote('"\\e923"'),
  "sj-ic-duty-free" unquote('"\\e924"'),
  "sj-ic-eye-hidden" unquote('"\\e925"'),
  "sj-ic-eye" unquote('"\\e926"'),
  "sj-ic-filter" unquote('"\\e927"'),
  "sj-ic-flight-from" unquote('"\\e928"'),
  "sj-ic-flight-insurance" unquote('"\\e929"'),
  "sj-ic-flight-left" unquote('"\\e92a"'),
  "sj-ic-flight-return" unquote('"\\e92b"'),
  "sj-ic-flight-right" unquote('"\\e92c"'),
  "sj-ic-flight-to" unquote('"\\e92d"'),
  "sj-ic-gift-star" unquote('"\\e92e"'),
  "sj-ic-gift" unquote('"\\e92f"'),
  "sj-ic-heart" unquote('"\\e930"'),
  "sj-ic-home" unquote('"\\e931"'),
  "sj-ic-hotel-building" unquote('"\\e932"'),
  "sj-ic-hotel" unquote('"\\e933"'),
  "sj-ic-hour-glass" unquote('"\\e934"'),
  "sj-ic-infant" unquote('"\\e935"'),
  "sj-ic-luggage" unquote('"\\e936"'),
  "sj-ic-mail" unquote('"\\e937"'),
  "sj-ic-mappin-2" unquote('"\\e938"'),
  "sj-ic-mappin" unquote('"\\e939"'),
  "sj-ic-minus" unquote('"\\e93a"'),
  "sj-ic-night" unquote('"\\e93b"'),
  "sj-ic-party" unquote('"\\e93c"'),
  "sj-ic-passenger" unquote('"\\e93d"'),
  "sj-ic-pax-info" unquote('"\\e93e"'),
  "sj-ic-payment-guidance" unquote('"\\e93f"'),
  "sj-ic-plus" unquote('"\\e940"'),
  "sj-ic-portfolio" unquote('"\\e941"'),
  "sj-ic-priority-check-in" unquote('"\\e942"'),
  "sj-ic-priority-choosing-seat" unquote('"\\e943"'),
  "sj-ic-priority-luggage" unquote('"\\e944"'),
  "sj-ic-priority-security-gates" unquote('"\\e945"'),
  "sj-ic-private-shuttle" unquote('"\\e946"'),
  "sj-ic-refund-reservation" unquote('"\\e947"'),
  "sj-ic-seat" unquote('"\\e948"'),
  "sj-ic-signed-luggage" unquote('"\\e949"'),
  "sj-ic-skiing" unquote('"\\e94a"'),
  "sj-ic-spa" unquote('"\\e94b"'),
  "sj-ic-utility-set" unquote('"\\e94c"'),
  "sj-ic-waiting-room" unquote('"\\e94d"'),
  "sj-ic-wallet" unquote('"\\e94e"'),
  "sj-ic-warning-circle" unquote('"\\e94f"'),
  "sj-ic-warning-triangle" unquote('"\\e950"'),
);